<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <head>
    <title>Flask Web App Test</title>
    </head>
    <body>
        <h1>Give Me The Sauce - Simple Web App</h1>
        <form method="post" action="/">
            <label for="number">Number:</label><br>
            <input type="text" name="number"><br><br>
            <label for="Directory">Directory:</label><br>
            <input type="input" name="Directory"><br><br>
            <label for="radio choice">File</label>
            <input type="radio" name="radio choice" value="File"><br>
            <label for="radio choice">Number</label>
            <input type="radio" name="radio choice" value="Number"><br><br>
            <input type="submit" name="submit_form" value="Download!">
        </form>
    </body>
</html>